<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Увійти</title>
</head>
<body>
<form method="POST" action="/web4/login">
	<label for="email">Email:</label>
	<input id="email" name="email" type="text" placeholder="Email">
	<label for="password">Пароль:</label>
	<input id="password" name="password" type="password" placeholder="Пароль">
	<input type="submit" value="Увійти">
</form>
<div th:if="${loginFailed == true}">
	Неправильний логін або пароль! (підказка: admin/admin, або user/user)
</div>
<div th:if="${error != null}" th:text="${error}"></div>
</body>
</html>